<div class="container ps-4">

<h1>Mis postulaciones</h1>

<div class="pt-5">

<% @offer.each do |offer| %>
<p>
<%= offer.titulo %> 
<% offer.find_kind_user_relation(current_user) %>
</p>
<p>
<%= link_to "Mostrar esta oferta", offer %>
</p>
<%end %>

</div>
</div>

