<footer class="container blanco2 py-3">
  <div class="pb-1">
      <div> 
        <a class="pe-5 copy"> © 2023 KariPics. Todos los derechos reservados.</a>
          <a class="ps-5 " href="https://twitter.com/"><i class="fa-brands fa-twitter fa-2xl" style="color: #000000;"></i></a>
          <a class="px-2" href="https://fb.com/"><i class="fa-brands fa-facebook fa-2xl" style="color: #000000;"></i></a>
      </div>
  </div>
</footer>

