<div class="container ps-4">

<h1 class="pb-4 pt-5">Bienvenidos al portal de postulación a trabajos internos de INDEX</h1>
<p class="pb-4">Inicie sesión, sino posee cuenta comuniquese con el administrador de la plataforma</p>
<p>Esteban.Sea@index.cl</p>

</div>

<div class="index container-fluid">
</div>