<div class="container ps-4">
<p style="color: green"><%= notice %></p>

<h1>Ofertas disponibles</h1>

<div id="offers" class="pt-5">
  <% @offers.each do |offer| %>
    <%= render offer %>
    <p>
      <%= link_to "Show this offer", offer %>
    </p>
  <% end %>
</div>

<%= link_to "New offer", new_offer_path %>

</div>
