/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    color: white;
    background: black;
 }


 .miniatura {

    padding: 30px !important;
    width: 350px;
    height: 350px;
    object-fit: cover;
 }

 .index {
   width: cover;
   height: 300px;
   background-image: url('index.png');
 }

 .centro {
    background-image: url('index2.png');
    position: relative;
    display: flex;
    justify-content: right;
 }

 .izquierdo {
    padding-left: 35px;
 }

p {
    color: white;
    font-size: 1.4rem;
}

a {
    font-size: 1.2rem;
    color: white !important;
    text-decoration: none;
}